:root {
  --primary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.hero .btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.text-muted {
  color: #6c757d !important;
}

.container p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
}

.container h2 {
  font-size: 64px;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.container .btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.col {
  padding: 60px;
}

.container.mb-5 {
  margin-bottom: 3rem !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
